#navbar {
    ul {
        background-color: #FF8F3D;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 11vh;
        li {
            color: white;
            font-weight: bold;
            width: 25%;
            display: flex;
            flex-basis: auto;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

    @media(min-width: 580px) {
        ul {
            height: 9vh;
            li {
                font-size: 22px;
            }
        }
    }
}