<section id="navbar">
    <ul>
        <li>
            <p>Home</p>
        </li>
        <li>
            <p>Current Group</p>
        </li>
        <li>
            <p>Today's Gym Sesh<span>(Alert)</span></p>
        </li>
        <li>
            <p>Profile</p>
        </li>
    </ul>
</section>