<%= render "/shared/navbar" %>
<%= current_user.username %>
<%= image_tag User.last.picture if User.last.picture.attached? %>
<%= image_tag Group.last.picture if Group.last.picture.attached? %>
<p>testline</p>
<p>testline</p>
<p>testline</p>
<p>testline</p>
<p>testline</p>
<p>testline</p>
<p>testline</p>
<p>testline</p>
<p>testline</p>
<p>testline</p>