#groups-index {
    #groups {
        position: relative;
        bottom: 25px;
        width: 88%;
        margin: 0 auto;
        .group {
            font-weight: bold;
            margin-bottom: 12px;
            #group-info {
                span:nth-of-type(2) {
                    float: right;
                    margin-bottom: 2px;
                    #join-link {
                        margin-left: 5px;
                        background-color: white;
                        padding: 1px 3px;
                    }
                }
            }
            #group-users {
                margin-top: 5px;
                width: 100%;
                $user-pic-box: 11vw;
                height: $user-pic-box;
                display: flex;
                justify-content: space-around;
                span {
                    box-sizing: border-box;
                    height: 100%;
                    min-width: $user-pic-box;
                    max-width: $user-pic-box;
                    //no horizontal content overflow until < ~330 px
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}