#show-group {
    .group {
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 12px;
        width: 88%;
        .main-header {
            text-align: center;
            font-weight: bold;
            font-size: 1.8rem;
            color: #FF8F3D;
            margin-bottom: 5px;
        }
        .sub-header-right {
            text-align: right;
            font-size: 1rem;
            margin-bottom: 5px;
        }
        .sub-header-center {
            color: #FF8F3D;
            margin: 20px auto 8px 12px;
            font-size: 1rem;
        }
        .group-image {
            img {
                display: block;
                width: 80%;
                margin: 0 auto;
            }
        }
        .group-users {
            margin-top: 5px;
            width: 100%;
            $user-pic-box: 22vw;
            height: $user-pic-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            span {
                box-sizing: border-box;
                height: 100%;
                min-width: $user-pic-box;
                max-width: $user-pic-box;
                margin: auto 5px 10px 5px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .calendar {
            border: 1.5px ridge grey;
            background-color: white;
            margin-top: 15px;
            .calendar-heading {
                display: flex;
                justify-content: space-between;
                .calendar-title {
                    min-width: fit-content;
                }
            }
            th, tr, thead {
                border: 1px solid black;
            }
            td {
                border: 1px solid black;
                width: 55px;
                height: 55px;
            }
        }
    }
}