#user-show {
    #profile-pic {
        img {
            margin: auto;
            object-fit: contain;
            width: 100%;
            max-height: 35vh;
        }
        max-width: 80vw;
        margin: 0 auto;
        margin-top: 20px;
    }

    #username {
        text-align: center;
    }

    #sub-info-container {
        display: flex;
        .sub-info-box {
            border: 1px solid green;
        }
    }
}