#user-signup {
    background-color: white;
    #banner {
        position: relative;
        background-color: #415FFF;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        h1, p {
            color: #FF8F3D;
        }
        h1 {
            margin-bottom: 12px;
            font-size: 2.4rem;
            margin-top: 0;
            position: relative;
        }
        p {
            font-weight: normal;
            padding-left: 17px;
            padding-right: 17px;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
    
    #signup-form {
        padding: 30px 22px;
        h2 {
            font-weight: normal;
            color: #415FFF;
            position: relative;
            font-size: 2.4rem;
            padding-bottom: 30px;
        }
        .field {
            margin-bottom: 8px;
            label {
                color: #415FFF;
                font-size: 1.3rem;
            }
        }
        //
        .actions {
            text-align: center;
            margin-top: 25px;
            input, a {
                all: unset;
            }
            input {
                font-size: 1.3rem;
                font-weight: bold;
                padding: 8px 5px;
                width: 72%;
                margin:  10px auto;
                background-color: #415FFF;
                color: #FF8F3D;
                cursor: pointer;
            }
        }
    }
}